<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <img width="200"
                    src="https://images.squarespace-cdn.com/content/v1/5572b7b4e4b0a20071d407d4/1487090874274-FH2ZNWOTRU90UAF5TA2B/Weather+Targeting"
                    alt="ClimaLogo" class="mx-auto">
                <form (submit)="submitLocation(nombreCiudad, codigoPais)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de la ciudad" #nombreCiudad>

                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Codigo del pais" #codigoPais>
                    </div>
                    
                    
                    <button class="btn btn-primary btn-block mt-2">
                        Obtener Clima
                    </button>

                </form>

                

                
            </div>
        </div>
        <div class="col-md-6">
            <div *ngIf="weather"class="card card-body">
                <p>Temperatura: {{weather.main.temp}} °C</p>
                <p>Latitud: {{weather.coord.lat}}</p>
                <p>Longitud: {{weather.coord.lon}}</p>
                <p>Humedad: {{weather.main.humidity}} %</p>
                <p>Presion: {{weather.main.pressure}} hPa</p>
                <p>Descripicion: {{weather.weather[0].description}}</p>
            </div>
        </div>
    </div>
    <div class="container p-4">
        <!-- ... Otro código ... -->
        
        <!-- Agrega la imagen con la etiqueta <img> -->
        <div class="row">
            <img src="https://www.nationsonline.org/gallery/World/World-map-all-country-codes.jpg" alt="Mapa del Mundo con Códigos de País" class="img-fluid img-thumbnail">


        </div>
    
        <!-- ... Otro código ... -->
    </div>
</div>